<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  Alexandre Silva</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  
  <div class="left">
    <a v-for="app in left_a" @click="acessar(app.name)">
      <i class="ativo" v-bind:class="app.icon" v-if="where == app.name"></i>
      <i v-bind:class="app.icon" v-else=""></i>
    </a>
  </div>
  
  <div class="left_two">
    <h1>{{ where }}</h1>
    <div class="explorer" v-if="where == 'Explorer'">
      <div class="line"></div>
      <li v-for="arq in explorer" style="color: #fff" v-if="abertos.find((abertos) => abertos.name === arq.name)">
        <i v-bind:class="arq.icon" style="color: #fff"></i>  <span>{{ arq.name }}</span>
      </li>
      <li v-for="arq in explorer" v-else="" @click="abrir(arq)">
        <i v-bind:class="arq.icon"></i>  <span>{{ arq.name }}</span>
      </li>
    </div>
  </div>
  
  <div class="center">
    <div class="tabs">
      <a v-for="aberto in abertos" style="color: #fff" v-if="abertos.find((aberto) => aberto.name === ativo.name)"><i v-bind:class="aberto.icon" style="color: #fff"></i>  <span>{{ aberto.name }}</span> <div class="close"><i class="fas fa-times" @click="close(aberto)"></i></div></a>
      <a v-for="aberto in abertos" v-else=""><i v-bind:class="aberto.icon"></i>  <span>{{ aberto.name }}</span> <div class="close"><i class="fas fa-times" @click="close(aberto)"></i></div> </a>
    </div>
    
    <div class="code" v-bind:class="ativo.name" v-on:keyup="keyHandler($event)" v-if="abertos.find((aberto) => aberto.name === ativo.name)">
      <code>{{ ativo.text }}</code>
    </div>
    
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>